{% extends 'catalog/base.html' %}

{% block content %}
    <h2>{{ book.title }}</h2>
    <p><strong>Автор:</strong> {{ book.author }}</p>
    <p><strong>Категорія:</strong> {{ book.category.name }}</p>
    <p><strong>Ціна:</strong> {{ book.price }} грн</p>
    <p>{{ book.description }}</p>

    <a href="{% url 'catalog:book_update' book.pk %}" class="btn btn-warning">Редагувати</a>
    <a href="{% url 'catalog:book_delete' book.pk %}" class="btn btn-danger">Видалити</a>
    <a href="{% url 'catalog:book_list' %}" class="btn btn-secondary">Назад</a>
{% endblock %}